{% extends 'base.html'%}

{% block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DGCT</title>
    <script src="script/script.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock%}
{% block body%}
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename= 'images/logo.png') }}" alt="logo">
        </div>
        <form action="#">
            <p>login</p>
            <i class="fa fa-user icon" id="ico"></i>
            <input type="text" id="reg" placeholder="Register Number">
            <i class="fa fa-lock" id="ico1"></i>
            <input type="password" id="pos" placeholder="dd-mm-yyyy">
            <button onclick="validate()">login</button>

        </form>
    </div>
</body>
{% endblock%}


